# Responsables generales del repositorio
* @miguelbriceno-sys @Allen2109

# Código fuente
/src/ @silvadaniel-mac @Antonellaurbina

# Pruebas
/tests/ @Allen2109 @silvadaniel-mac

# Pipeline DevSecOps y configuración GitHub
/.github/ @miguelbriceno-sys @Allen2109

# Documentación
/docs/ @Antonellaurbina @silvadaniel-mac

# Política de repositorio
/POL-REPO-001.md @miguelbriceno-sys @Allen2109

# Threat Model
/docs/threat-model.md @silvadaniel-mac @Antonellaurbina